html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-rows: minmax(17%, auto) 1fr;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
    "data data"
    "lists lists";
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  background: purple;
}

.data {
  display: grid;
  grid-template: repeat(2, minmax(17%, auto))/1;
  grid-area: data;
}


form {
  display: grid;
  grid-template-columns: minmax(20%, 150px) repeat(2, minmax(15%, 100px));
  grid-template-areas:
    "input buttonAdd clearAll";
  grid-row: 1;
  padding: 20px;
  gap: 30px;
}

.write {
  grid-area: input;
}

.add {
  grid-area: buttonAdd;
  text-transform: uppercase;
}

.clear-all {
  grid-area: clearAll;
  text-transform: uppercase;
}

.modificate {
  display: grid;
  grid-template-columns: minmax(20%, 150px) repeat(3, 1fr);
  grid-row: 2/2;
  padding: 20px;
  gap: 30px;
}

.lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: lists;
  padding: 20px;
  gap: 30px;
  text-transform: uppercase;
}

.to-do {
  display: grid;
  grid-template-rows: minmax(4%, auto) 10% 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "btn ."
    "p p"
    "ul ul";
  gap: 30px;
  padding-right: 20px;
}

.clear-tasks {
  grid-area: btn;
}

.to-do p {
  grid-area: p;
}

.tasks {
  grid-area: ul;
  background: rgba(255, 255, 255, 0.7);

}

div.done {
  display: grid;
  grid-template-rows: minmax(4%, auto) 10% 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "btn ."
    "p p"
    "ul ul";
  gap: 30px;
  padding-right: 20px;
}

.clear-done {
  grid-area: btn;
}

.done p {
  grid-area: p;
}

.tasksDone {
  grid-area: ul;
  background: rgba(255, 255, 255, 0.7);
}