html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: blue;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

button {
  background-color: white;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 20px;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #ccc;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  margin: 0 auto;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.data::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
}

form,
.modificate {
  width: 95vw;
  max-width: 840px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 0px;
}

.write {
  flex-grow: 2;
  max-width: 200px;
  margin-right: 10px;
  outline: none;
  border: none;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.write,
.add,
.clear-all {
  margin-top: 10px;
  font-size: 18px;
}

.add,
.clear-all {
  flex-grow: 1;
  max-width: 100px;
}

.clear-all {
  margin-left: 15px;
}

.modificate {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  padding: 10px 0px;
}

.search {
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  border: none;
  outline: none;
}

.lists {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 840px;
  margin: 0 auto;
  margin-top: 20px;
}


.to-do,
.tasks-done {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0px;
  font-size: 20px;
  padding: 5px;
  color: white;
}

.head {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10px;
}

.head p {
  font-size: 28px;
}


ul {
  width: 100%;
}

li {
  font-size: 18px;
  margin: 10px 0px;
}

.delete,
.done,
.remove-done {
  margin: 0px 0px 5px 10px
}

.done {
  margin-right: 10px;
}

@media (min-width: 840px) {
  .lists {
    flex-direction: row;
  }

  .to-do,
  .tasks-done {
    width: 100%;
    justify-content: start;
  }
}
